<template>
    <div class="header-notifications-content">
        <div class="header-notifications-scroll" data-simplebar>
            <ul>
                <li v-for="notification in notifications">
                    <a href="">{{ JSON.parse(notification.data).post.id}}</a>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['notifications']
    }
</script>
